@model WebAssignment.Models.Unit_Enrolment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Unit_Enrolment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semester)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semester)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assessment_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assessment_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assessment_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assessment_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Final_Exam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Final_Exam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unit.UnitTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit.UnitTitle)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Enrolment_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
