@model IEnumerable<WebAssignment.Models.Unit>

@{
    ViewBag.Title = "Index";
}

<h2>Manage Units</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UnitTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitCoordinator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitOuttlinePdf)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UnitTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitCoordinator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitOuttlinePdf)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UnitCode }) |
            @Html.ActionLink("Details", "Details", new { id=item.UnitCode }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UnitCode })
        </td>
    </tr>
}

</table>
